#headings{
    background-color:midnightblue;
    height:20%;
   
 }

 .myDark{
    background-color:black;
    color:white;
 }

 .darkMode{
   font-size: 14px;
   margin-top: 40px;
   font-family: verdana;
 }
 
 /*-----icon of e!------*/
 .divisions{
   background-color: white;
   height: 65px;
   width: 65px;
   border-radius: 50%;
   position: absolute;
   top: 2px;
   left: 129px;
   z-index: 3;
 }
  
 span{
    font-size: 40px;
    font-weight:bold;
    text-align:center;
    padding: auto;
 }
 